{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block pagetitle%}{% endblock %}</title>
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        
        <!-- Font Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
           <a href="{% url 'landing:index' %}"><img src="{% static 'images/hiramlogo.png' %}"></a>
           {% block mainnav %}
           <nav>
             <ul>
               <li><a href="{% url 'landing:index' %}">Home</a></li>
               <li><a href="{% url 'landing:catalogue' %}">Catalogue</a></li>
             </ul>
           </nav>
           <a href="https://docs.google.com/forms/d/e/1FAIpQLSfCuon2G2NrsWhxcMo4achai5b6MarDief_KXRYkmS32nRD5A/viewform" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/hiramnavbutton.png' %}" class="navrent" style="height: 50px; margin-left: 750px;"></a>
           {% endblock %}
        </div>
        <main>
        {% block maincontent %}

        {% endblock %}
        </main>
    </body>
</html>