{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block pagetitle%}{% endblock %}</title>
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        
        <!-- Font Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
           <a href="{% url 'landing:index' %}"><img src="{% static 'images/hiramlogo.png' %}"></a>
           {% block mainnav %}
           <nav>
             <ul>
               <li><a href="{% url 'landing:index' %}">Home</a></li>
               <li><a href="{% url 'landing:catalogue' %}">Catalogue</a></li>
             </ul>
           </nav>
           <a href="https://docs.google.com/forms/d/e/1FAIpQLSfCuon2G2NrsWhxcMo4achai5b6MarDief_KXRYkmS32nRD5A/viewform" target="_blank" rel="noopener noreferrer" class="navbar-right"><img src="{% static 'images/hiramnavbutton.png' %}" class="navrent" style="height: 50px; float:right; margin-left: auto;"></a>
           {% endblock %}
        </div>
        
        <main>
        {% block maincontent %}

        {% endblock %}
        <footer>
          <div class="socmed">
            <div class="socmedtext">
              <h2 class="socmedtitle">
                Interested in Lending Out Items? Have Any Questions?
              </h2>
              <p>Check out our social media pages to inquire about our current catalogue or if you are interested in lending items out. We hope to see you soon as we share our journey with all!</p>
            </div>
              <a href="https://www.facebook.com/share/iwMqgAAzezZXGesi/?mibextid=LQQJ4d" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/hiramfb.png' %}" class="sociallogo"></a>
              <a href="https://www.instagram.com/hiram.philippines?igsh=MWlpcHNidTljcjJwYQ==" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/hiraminsta.png' %}" class="sociallogo"></a>
              <a href="mailto:hiram.philippines@gmail.com"><img src="{% static 'images/hiramemail.png' %}" class="sociallogo"></a>
          <footer>
        </main>
    </body>
</html>