{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap Stuff -->
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <!-- CSS STUFF --> 
  <!-- <link rel="stylesheet" href="{% static 'styles/base.css' %}"> -->

  <!-- Font Stuff -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body style="background-color: #FCFFF2;">
  
  <div class="header">
    <nav class="container-fluid gx-0">
      <ul class="nav" style="background-color:white;">
        <li class="nav-item nav-text" >
          <a class="nav-link link-light" href="{% url 'landing:index' %}"><img src="{% static 'images/hiramlogo.png' %}" alt="" width="" height="75"><a>
        </li>
        <li class="nav-item nav-text">
          <a class="nav-link link-light" href="{% url 'landing:index' %}" style="color: black; font-size: x-large; padding-top: 35%;">HOME</a>
        </li>
        <li class="nav-item nav-text">
          <a class="nav-link link-light" href="{% url 'landing:catalogue' %}" style="color: black; font-size: x-large; padding-top: 21.5%;">CATALOGUE</a>
        </li>
      </ul>
    </nav>
  </div>
    {% block content %}
    {% endblock %}
  <div class="footer">
    <div class="container-fluid gx-0" style="background-color: #4D4C7D;">
      <div class="row justify-content-center">
        <div class="col-4">
          <h1>Interested in Lending Out Items? Have Any Questions?</h1>
          <p>Check out our social media pages to inquire about our current catalogue or if you are interested in lending items out. We hope to see you soon as we share our journey with all!</p>
        </div>
        <div class="col-4">
          <a href="https://www.facebook.com/share/iwMqgAAzezZXGesi/?mibextid=LQQJ4d" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/hiramfb.png' %}" alt="" width="" height=80></a>
          <a href="https://www.instagram.com/hiram.philippines?igsh=MWlpcHNidTljcjJwYQ==" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/hiraminsta.png' %}" alt="" width="" height=80></a>
          <a href="mailto:hiram.philippines@gmail.com"><img src="{% static 'images/hiramemail.png' %}" alt="" width="" height=80></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>